# API Configuration
API_URL=wss://iqoption.com/echo/websocket
ACCESS_TOKEN=82
LOGIN_URL=https://api.iqoption.com

# Login credentials for IQ Option
LOGIN_EMAIL=<iq_option_username>
LOGIN_PASSWORD=<iq_option_password>

# Trading Configuration
IS_REAL=false  # Set to true for real balance, false for demo balance

# Logger Configuration
LOG_PATH=/Users/arnon/vokmon/study/iq-option/logs
LOG_TO_FILE=false  # Set to true to write logs to file, false to only log to console

# Technical Analysis Parameters - Optimized for Binary Options (15-second timeframe, 15-min expiry)
LOOKBACK_PERIOD=20
SMALL_TIME_FRAME_CANDLE_INTERVAL_MINUTES=15
BIG_TIME_FRAME_CANDLE_INTERVAL_MINUTES=60

MIN_CONFIDENCE_THRESHOLD=0.80

# Wait time
ANALYSIS_WAIT_TIME_BETWEEN_TRADES_SECONDS=10
SELL_WHEN_PROFIT_ABOVE_PERCENTAGE=20